[**/MsExtensions/Primitives/*/*.cs]
resharper_check_namespace_highlighting = none

[**/MsExtensions/Primitives/*.cs]
resharper_check_namespace_highlighting = none

dotnet_sort_system_directives_first = true

